.nav {
  display: flex;
  gap: 20px;
  padding: 15px;
}

.nav_link {
  text-decoration: none;
  color: #eee;
  font-size: 1.1rem;
  padding-bottom: 4px;
  transition: color 0.2s ease;
}

.nav_link:hover {
  color: #fff;
}


.nav_link.active {
  color: darkviolet;              
  border-bottom: 2px solid darkviolet;
  font-weight: bold;
}
